.top-container {
  background-color: #34B3F1;
  text-align: center;
  padding-top: 60px;
  font-family: 'Gentium Plus', serif;
}

h1{
  font-family: 'Gloria Hallelujah', cursive;
}

h2{
  font-family: 'Teko', sans-serif;
}

.middle-container {
  background-color: green;
  width: 200px;
  height: 200px;
}

.top-cloud {
  position: absolute;
  top: 20px;
  left: 1200px;
}

.bottom-cloud {
  position: absolute;
  top: 220px;
  left: 600px;
}

.bottom-container {
  background-color: red;
  width: 200px;
  height: 200px;
}
